// .list {
//   width: 100vw;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   justify-content: center;
// }
// .item {
//   max-width: 300px;
//   padding: 10px;
//   border-radius: 20px;
//   border: solid 1px black;
// }
.itemName {
  display: flex;
  justify-content: space-around;
}
.itemNameAgePhone {
  display: flex;
  padding: 0 30px 0;
  span {
    margin-left: auto;
    padding: 5px;
  }
}
.blue {
  background-color: #99ccff;
}
.pink {
  background-color: #ff99ff;
}
